.card {
  background-color: white;
  margin: 10px;
  width: 5vw;
  height: 60vh;
  transition: width 0.3s ease-in-out;
}

.card:hover {
  transition: width 0.3s ease-in-out;
  width: 15vw;
}

.cardText {
  color: black;
}

.cardImage {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
