.shopListContainer {
  height: auto;
  margin-top: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 10rem;
}

.shopCardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
