.shopListContainer {
  height: 70vh;
  margin-top: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: blue;
}

.shopCardContainer {
  display: flex;
  justify-content: space-between;
}
