*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  justify-content: center;
  background-color: black;
  margin: 0;
  text-align: center;
}

.Content {
  background-color: black;
}
.textColor {
  color: white;
  font-size: 3rem;
  padding-bottom: 1rem;
}
